name: main

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build-and-test:
    runs-on: ubuntu-24.04
    container:
      image: ubuntu:noble
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - name: Setup ROS 2
        uses: ros-tooling/setup-ros@0.7.15
      - name: build and test
        uses: ros-tooling/action-ros-ci@0.4.5
        with:
          package-name: roboligo roboligo_cli roboligo_common roboligo_connector roboligo_interfaces roboligo_states roboligo_system roboligo_connector_mavros roboligo_robot_drone
          target-ros2-distro: rolling
          colcon-defaults: |
            {
              "test": {
                "parallel-workers" : 1
              }
            }
          colcon-mixin-name: coverage-gcc
          colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
      - name: Codecov
        uses: codecov/codecov-action@v5.4.0
        with:
          files: ros_ws/lcov/total_coverage.info
          flags: unittests
          name: codecov-umbrella
          # yml: ./codecov.yml
          fail_ci_if_error: false